In [5]:
import sqlite3

In [6]:
#connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [8]:
cursor = connection.cursor()

In [ ]:
##create a Table

cursor.execute('''
Create table If not exists Demo(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    
)
''')

 # commit the changes

connection.commit()

In [10]:

cursor.execute('''
select * from Demo
''')

In [14]:
# Insert the data  in SQLite3 table

cursor.execute('''
Insert into demo(name, age,department)
values("Pragati",20,"CSE")
''')

cursor.execute('''
Insert into demo(name, age,department)
values("Archit",12,"AI")
''')

cursor.execute('''
Insert into demo(name, age,department)
values("Abhi",25,"ml")
''')

connection.commit()

In [15]:
## query the data from the table

cursor.execute('Select * from Demo')
rows = cursor.fetchall()

## print the quried data 

for row in rows:
  print(row)

(1, 'Pragati', 20, 'CSE')
(2, 'Pragati', 20, 'CSE')
(3, 'Archit', 12, 'AI')
(4, 'Abhi', 25, 'ml')

In [17]:
# update the data in table

cursor.execute('''
UPDATE demo 
set name ='Shubha'
where age =25
''')

connection.commit()

In [19]:

cursor.execute('Select * from Demo')
rows = cursor.fetchall()

## print the quried data 

for row in rows:
  print(row)

(1, 'Pragati', 20, 'CSE')
(2, 'Pragati', 20, 'CSE')
(3, 'Archit', 12, 'AI')
(4, 'Shubha', 25, 'ml')

In [21]:
## delete the data from the table

cursor.execute('''
delete from demo where name='Shubha'
''')

connection.commit()

In [22]:

cursor.execute('Select * from Demo')
rows = cursor.fetchall()

## print the quried data 

for row in rows:
  print(row)

(1, 'Pragati', 20, 'CSE')
(2, 'Pragati', 20, 'CSE')
(3, 'Archit', 12, 'AI')

In [24]:
connection = sqlite3.connect('sales_data.db')
curor = connection.cursor()

## create a table for sales data

cursor.execute('''
Create table if not exists sales(
  id Integer Primary Key,
  date Text not null,
  product text not null,
  sales Integer,
  region text
)
''')

#insert data into the sales table

sales_data =[
  ('2025-01-02','Chair',100,'North'),
  ('2025-01-03','Table',150,'South'),
  ('2025-01-04','Pen',200,'East'),
  ('2025-01-05','Pencil',180,'West'),
  ('2025-01-06','Product1',90,'North'),
  ('2025-01-07','Product2',300,'South')
]

cursor.executemany('''
Insert into sales(date,product,sales, region) values(?,?,?,?)
''',sales_data)

connection.commit()

In [26]:
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, '2025-01-02', 'Chair', 100, 'North')
(2, '2025-01-03', 'Table', 150, 'South')
(3, '2025-01-04', 'Pen', 200, 'East')
(4, '2025-01-05', 'Pencil', 180, 'West')
(5, '2025-01-06', 'Product1', 90, 'North')
(6, '2025-01-07', 'Product2', 300, 'South')

In [28]:
#close connection

connection.close()